@charset "UTF-8";

/* reset
================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}


/* Scaffolding and type
================================================== */
html, body {
  height: 100%;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  font: 1rem/1.5 "Neuton", serif;
  color: #3a3a3a;
}

a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 1rem;
  color: #fff;
  font-variant: small-caps;
  text-shadow: 2px 2px 0 #3d566e;
  line-height: 1;
  font-size: 4.5rem;
}

h2 { font-size: 6rem; }
h3 { font-size: 1.2rem }

/* silly mobile portrait */
@media only screen and (max-width: 400px) {
  h1 {
    margin-bottom: 3rem;
  }
}

/* tablet ish */
@media only screen and (min-width: 29rem) {
  h1 { font-size: 5rem; }
  h2 { font-size: 7rem; }
  h3 { font-size: 1.3rem }
}


/* desktop ish */
@media (min-width: 920px) {
  h1 { font-size: 6rem; }
  h2 { font-size: 8rem; }
  h3 { font-size: 1.5rem }
}


.lead, .byline {
  color: #fff;
}

.lead {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}


@media (min-width: 920px) {
  .lead {
    margin-bottom: 2rem;
  }
}

.byline {
  font-size: 1.7rem;
  line-height: 1.3;
}

blockquote {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  background-image: url(img/leftQuote.svg), url(img/rightQuote.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 3rem, auto 3rem;
}

/* Sections
================================================== */

/*
 * DRY commonalities
 */

/* centered */
header, #title, footer {
  text-align: center;
}

/*
 * Header
 */
header {
  padding: 2rem 1rem;
  min-height: 100%;
  background-color: #34495e;
  font-weight: 200;
}


/*
 * Context
 */

#context {
  min-height: 100%;
  padding: 3rem;
}


/*
 * Title
 */

#title {
  min-height: 100%;
}


/*
 * Footer
 */
footer {
  font-size: 8rem;
}

/* Utilities
================================================== */

.close {
  letter-spacing: -.2em;
}