@charset "UTF-8";

/* reset
================================================== */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}


/* Scaffolding and type
================================================== */
html, body {
  height: 100%;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  font: 1rem/1.5 "Neuton", serif;
  color: #3a3a3a;
}

a {
  color: #08c;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-variant: small-caps;
  text-shadow: -1px 1px 0 rgba(0,0,0,.5);
  line-height: 1;
  font-size: 5rem;
}

h2 { font-size: 6rem; }
h3 { font-size: 1.2rem }

/* tablet ish */
@media only screen and (min-width: 29rem) {
  h1 { font-size: 5.5rem; }
  h2 { font-size: 7rem; }
  h3 { font-size: 1.3rem }
}


/* desktop ish */
@media (min-width: 920px) {
  h1 { font-size: 6rem; }
  h2 { font-size: 8rem; }
  h3 { font-size: 1.5rem }
}

h1, .lead, .byline {
  color: #fff;
}

.lead {
  font-size: 1.8rem;
  line-height: 1;
  margin: 4rem 0;
}

.byline {
  font-size: 1.5rem;
  line-height: 1.3;
}

blockquote {
  font-size: 1.5rem;
  max-width: 40rem;
  margin: 0 auto;
  /*background-image: url(img/leftQuote.svg), url(img/rightQuote.svg);
  background-position: top left, 100% 97%;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 3rem, auto 3rem;*/
}

blockquote p {
  margin-bottom: 2rem;
}

/* Tighten up margin on last items */
p:last-child,
ul:last-child,
blockquote:last-child{
  margin-bottom: 0;
}

/* Sections
================================================== */

/*
 * DRY commonalities
 */

/* centered */
header, #glossary h2, footer {
  text-align: center;
}

/*
 * Header
 */
header {
  padding: 2rem 1rem;
  min-height: 100%;
  background-color: #34495e;
  font-weight: 200;
}

/*
 * Context
 */

#context {
  padding: 3rem 1rem;
  background-color: #e8e8e8;
  border-top: 4px solid #2b3c4e;
  border-bottom: 4px solid #3a3a3a;
}

/* desktop ish */
@media (min-width: 920px) {
  #context {
    padding: 5rem;
  }
}

/*
 * Glossary
 */
#glossary {
  display: block;
}


dl {
  padding: 1rem;
}

dt + dt {
  padding-left: 1rem;
  text-indent: -1rem;
}

dd {
  padding-left: 2rem;
  text-indent: -1rem;
  text-align: justify;
}


@media (min-width: 48em) {
  #glossary ol li {
    display: inline;
    float: left;
    width: 50%;
  }
}



/*
 * Footer
 */
footer {
  font-size: 8rem;
  clear: both;
}

/* Utilities
================================================== */
.bold {
  font-weight: 700;
}

.close {
  letter-spacing: -.1em;
}